CurrentLoadout.txt
randomLoadout.txt
DeceiveLookup.txt
DeceiveLookupLog.txt
DeceiveLookupResult.txt
UpdateLoadout.txt
main.py
__pycache__/
/Deceive loadout extension - firebot integration v0.5.firebotsetup
/Deceive loadout extension - firebot integration v0.4.firebotsetup
/Deceive loadout extension - firebot integration.firebotsetup